*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000000;
  top: 0;
}

.restaurant-list {
  padding-top: 40px;
  width: 100%;
}

.location {
  background-color: #d6d7d8;
  height: 80px;
  border-bottom: 1px solid #777777;
}

.location:hover {
  background-color: #9D9D9D;
  opacity: 1.5;
}

.content{
  width: 90%;
  float: left;
  padding: 20px;
}

.arrow{
  width: 10%;
  float: left;
  padding: 30px 10px;

}

h1{
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 6px;
}

h3{
  font-size: .85em;
}
