*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000000;
}

.restaurant-list {
  padding-top: 45px;
  position: fixed;
  width: 420px;
}

.location {
  background-color: #d6d7d8;
  height: 70px;
  border-bottom: 1px solid #b5b6b7;
}

.location:hover {
  background-color: #b5b6b7;
}

.content{
  width: 90%;
  float: left;
  padding: 18.5px 0 18.5px 20px;
}

.arrow{
  width: 10%;
  float: left;
  padding: 18px 10px 0px 5px;

}

h1{
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
}

h3{
  font-size: .8em;
}
